#try_design2_warpper{
    position: relative;

    height: 75%;
    width: 90%;
    top: 13%;
    left: 10%;
     /* border: 1px solid red;  */
}
#bloc1_tryphaena_s2{
    position: relative;
    /* border: 1px solid palevioletred; */
    height: 70%;
    width: 40%;
    float: left;
    top: 15%;
    left: 9%;
}
#blocnote1_tryphaena_s2{
    position: relative;
    background: url("assets/element_1-01.png") no-repeat center;
    background-size: contain;
    /* border: 1px solid salmon; */
    height: 70%;
    width: 100%;

}
#texte1_tryphaena_s2{
    position: relative;
    background: url("assets/element_3.png") no-repeat;
    background-size: contain;
    /* border: 1px solid darkblue; */
    height: 30%;
    width: 100%;
}
#bloc2_tryphaena_s2{
    position: relative;
    /* border: 1px solid palevioletred; */
    height: 70%;
    width: 40%;
    float: right;
    top: 15%;
    right: 9%;
}

#blocnote2_tryphaena_s2{
    position: relative;
    background: url("assets/element_2.png") no-repeat center;
    background-size: contain;
    /* border: 1px solid darkcyan; */
    height: 70%;
    width: 100%;
}
#texte2_tryphaena_s2{
    position: relative;
    background: url("assets/element_4.png") no-repeat;
    background-size: contain;
    /* border: 1px solid sienna; */
    height: 30%;
    width: 100%;
}