#NEO_SAFETY2-warpper{
    position: relative;
    height: 75%;
    width: 90%;
    top: 13%;
    margin-left:10%
    /* border: 1px solid red;   */
}
#titre_NEO_SAFETY2{
    position: relative;
    background: url('assets/texte.png') no-repeat;
    background-size: contain;
    /* border: 1px red solid;    */
    width: 50%;
    height: 12%;
    top: 0%;
    left: 20%;
}
#texte_NEO_SAFETY2{
    position: relative;
    background: url('assets/bloc_de_texte.png') no-repeat;
    background-size: contain;
    /* border: 1px red solid;    */
    width: 93%;
    height: 60%;
    top: 15%;
    left: 0%;
}
#icon_NEO_SAFETY2{
    position: relative;
    background: url('assets/Coeur.gif') no-repeat;
    background-size: contain;
     /* border: 1px red solid;    */
    width: 7%;
    height: 18%;
    top: 9%;
    left: 3%;
}