#aphinity_reco {
    position: absolute;
    background:url('assets/slide19/tab-01.png') no-repeat ;
    background-size:contain;
    height: 95%;
    width: 95%;
    margin:0% auto;
    /* border: 1px solid rebeccapurple; */
}
/****************reco1**********************/
#reco1{
    position: absolute;
    background:url('assets/slide18/1-01.png') no-repeat  ;
    background-size:contain;
    height: 95%;
    width: 90%;
    visibility: visible;
    margin-left: 4%;
    margin-top: 5%;

}
.btn_reco{
    position: absolute;
    height: 100%;
    width: 100%;

}

#button_reco_aph {
    position: absolute;
    height: 9%;
    width: 95%;
    bottom: 8%;
    left: 2.5%;
    /* border: 1px solid red; */
    margin: 0% auto;
}





/******************reco2*********************/
#reco2{
    position: absolute;
    /* background:url('assets/slide19/tab-01.png') no-repeat ;
    background-size:contain; */
    height: 100%;
    width: 100%;
    visibility: hidden;
}
#form_reco{
    position: relative;
    background:url('assets/slide19/texte_1.png') no-repeat bottom ;
    background-size:contain;
    height: 9%;
    width: 25%;
    /* border: 1px solid rebeccapurple; */
}

#left_reco{
    position: relative;
    float: left;
    height: 90%;
    width: 45%;
    left: 2%;
    /* border: 1px solid darkblue; */

}
#right_reco{
    position: relative;
    float: right;
    height: 90%;
    width: 45%;
    right: 3%;
    top: 8%;
    /* border: 1px solid thistle; */

}

#tab1_reco{
    position: relative;
    background:url('assets/slide19/tab_1.png') no-repeat ;
    background-size:contain;
    height: 21%;
    width: 100%;
    /* border: 1px solid salmon; */

}
#tab2_reco{
    position: relative;
    background:url('assets/slide19/tab_2.png') no-repeat ;
    background-size:contain;
    height: 27%;
    width: 100%;
    /* border: 1px solid seagreen; */

}
#tab3_reco{position: relative;
    background:url('assets/slide19/tab_3.png') no-repeat ;
    background-size:contain;
    height: 20%;
    width: 100%;

    /* border: 1px solid yellow; */

}
#tab4_reco{
    position: relative;
    background:url('assets/slide19/tab_4.png') no-repeat ;
    background-size:contain;
    height: 20%;
    width: 101%;

    /* border: 1px solid orange; */

}
#tab5_reco{
    position: relative;
    background:url('assets/slide19/tab_5.png') no-repeat center center ;
    background-size:contain;
    height: 25%;
    width: 100%;
    
    /* border: 1px solid teal; */


}
#pyra_reco{
    position: relative;
    background:url('assets/slide19/tab-12.png') no-repeat center center ;
    background-size:contain;
    height: 45%;
    width: 100%;
    top: 7%;
    /* border: 1px solid indianred; */

}

#fleche1_reco{
    position: absolute;
    background:url("assets/slide19/fleche_1.png") no-repeat;
    background-size: contain;
    height: 20%;
    width: 20%;
    top: 18%;
    left: 47%;
    transform: rotate(5deg);
}
#fleche2_reco{
    position: absolute;
    background:url("assets/slide19/fleche_2-01.png") no-repeat;
    background-size: contain;
    height: 29%;
    width: 40%;
    top: 51%;
    left: 28%;

}

#buttons_reco2{
    /* bottom: 6%; */
    left: 1%;
    width: 100%;
    height: 100%;
}


@keyframes fleche2 {
    0%{
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);    }
    100%{
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}
@-webkit-keyframes fleche2 {
    0%{
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);    
    }
    100%{
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}
.fleche2_anim{
	-webkit-animation: fleche2 1s ease-out ;
	        animation: fleche2 1s ease-out;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-6-28 13:0:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tr
 * ----------------------------------------
 */
 @-webkit-keyframes fleche1 {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @keyframes fleche1 {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  .fleche1_anim{
	-webkit-animation: fleche1 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fleche1 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}